/*************/
/* Head Word */
/*************/
.headline { 
	color: #87CEEB; 
	border-bottom: 2px solid #eee; 
	font-size: 2.0em; 
	font-weight: bold;
}
/*a, h1, h2, h3, h4, h5 { */
	/*color: #87ceeb; */
	/*color: #da784b; */
/*}*/
h1:before, h2:before, h3:before, h4:before, h5:before {
    content: "✘ ";
}
h1, h2, h3, h4, h5 {
	color: #e6dfcb;
	margin: 20px 0 5px;
	padding: 0 0 15px;
}
/***********/
/* menu UI */
/***********/
.menu-ui {
	position: fixed;
	height: 100%;
}
.menu {
	position: relative;
	float: top;
	margin-left: 15px;
	width: 50px;
	height: 50px;
	border: 5px solid #444;
	border-radius: 50px;
	background: #444;
    -moz-transition:all 0.1s;
    -webkit-transition:all 0.1s;
    -o-transition:all 0.1s;
    -ms-transition:all 0.1s;
	opacity: 0.95;
}
.icon {
	position: absolute;
	top: 5px;
	left: 5px;
}

/**************************/
/* menu UI : addentry-div */
/**************************/
.addentry-div {
	top: 10%;
}
#entrydlg {
	width: 700px;
	height: 830px;
}
.addentry-form {
	width: 100%;
	height: 100%;
}
#entrydlg dl {
	width: 100%;
	height: 100%;
	margin-left: 35px;
}
#entrydlg dt { 
    font-size: 1.2em;
	font-weight: bold; 
	color: #377BAB;
	margin-top: 5px;
}
#entrydlg input {
	width: 90%;
    font-size: 1.0em;
}
#entrydlg textarea {
	width: 90%;
	height: 500px;
    font-size: 1.0em;
	background: #bbb;
}
#entrydlg textarea:focus {
	background: #fcfcfc;
}
@media screen and (min-height : 1200px){
	#entrydlg textarea {
		height: 700px;
	}
	#entrydlg {
		height: 1050px;
	}
}
@media screen and (max-height : 460px){
	#entrydlg textarea {
		height: 50px;
	}
	#entrydlg {
		height: 350px;
	}
}
#entrydlg .commit-button {
	margin-top: 1.5em;
	width: 90%;
	height: 2.5em;
	border-radius: 10px;
	font-size: 1.0em;
}
#edit-menu {
	height: 40px;
	margin-top: 20px;
	padding: 0 35px;
}
/************************/
/* menu UI : search-div */
/************************/
.search-div {
	top: 20%;
}
#searchdlg {
	width: 270px;
	height: 300px;
}
#searchdlg input {
	width: 200px;
	margin: 1em 1em 0em 2em;
	display: inline-block;
    font-size: 1.0em;
	padding: 10px 0;
	text-align: center;
}
/******************************/
/* menu UI : cumulonimbus-div */
/******************************/
.cumulunimbus-div {
	top: 30%;
}
#cumulusdlg {
	width: 600px; 
	height: 700px; 
}
/**************************/
/* menu UI : tagcloud-div */
/**************************/
.tagcloud-div {
	top: 40%;
}
#tagdlg {
	width: 500px;
	height: auto;
	max-height: 500px;
	overflow: scroll;
}
#tag-container {
	margin: 10px 20px 0px;
	height: auto;
}
.tag {
	float: left;
	color: #333;
	background-color: #fff;
	border: 1px solid #fff;
	border-radius: 5px;
	margin: 0 3px 10px;
	padding: 1px;
}
.tag:hover {
	cursor: pointer;
}
/*************/
/* Cumulusjs */
/*************/
.tagCloud ul, .tagCloud li
{
	list-style: none;
}
.tagCloud .tagClass a
{
	padding: 3px;
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
	color: #87ceeb;
	font-weight: bold;
}
.tagCloud .tagClass a:hover
{
	border: 2px solid #87ceeb;
	text-decoration: none;
}

/***********/
/* Memo UI */
/***********/

#container {
	margin: 0 auto;
	padding-left: 90px;
	padding-right: 10px;
}
.memo-div {
	width: 100%;
	min-height: 100px;
	font-size: 16px; 
	padding: 0.5em;
	margin-top: .5em;
	border-radius: 5px;
	display: block;
}
.memo-tag {
    font-size: 20px;
	font-weight: italic;
	float: right; 
	display: none; 
}
.memo-div:hover .memo-tag {
	margin-right: 10px;
	display: inline; 
}
.memo-date {
	margin-left: 1em;
    font-size: 16px;
	color: #ff9c77;
}
.memo-edit,
.memo-delete {
    font-size: 14px;
	float: right;
	margin-left: 2em;
	margin-top: 10px;
	border: solid 2px;
	border-radius: 10px;
	padding: 2px;
	text-decoration: none;
}
.memo-inner {
	padding-left: 10px;
	padding-top: 20px;
}
.memo-div:nth-child(2n) .memo-delete {
	color: #333;
}
.memo-div:nth-child(2n) .memo-delete:hover {
	color: #87CEEB;
}
.memo-div:nth-child(2n) .memo-edit{
	color: #333;
}
.memo-div:nth-child(2n) .memo-edit:hover {
	color: #87CEEB;
}
.memo-div:nth-child(2n+1) .memo-delete{
	color: #555; 
}
.memo-div:nth-child(2n+1) .memo-delete:hover {
	color: #87CEEB; 
}
.memo-div:nth-child(2n+1) .memo-edit{
	color: #555; 
}
.memo-div:nth-child(2n+1) .memo-edit:hover {
	color: #87CEEB; 
}
.memo-div:nth-child(2n) {
	border: 5px solid #555; 
	background-color: #555;
}
.memo-div:nth-child(2n+1) {
	border: 5px solid #333; 
	background-color: #333;
}
/* admonition derective */
.admonition-title {
	color: #555;
	font-size: 120%;
	font-weight: bold;
}
.attention {
	border: 1px solid #D43F3A;
	background-color: #D9534F;
	border-radius: 2px;
	margin: 10px;
	padding: 10px;
}
.caution {
	border: 1px solid #EEA236;
	background-color: #F0AD4E;
	border-radius: 2px;
	margin: 10px;
	padding: 10px;
}
.error {
	border: 1px solid #D43F3A;
	background-color: #D9534F;
	border-radius: 2px;
	margin: 10px;
	padding: 10px;
}
.hint {
	border: 1px solid #357EBD;
	background-color: #428BCA;
	border-radius: 2px;
	margin: 10px;
	padding: 10px;
}
.important {
	border: 1px solid #4CAE4C;
	background-color: #5CB85C;
	border-radius: 2px;
	margin: 10px;
	padding: 10px;
}
.note {
	border: 1px solid #FFF7CC;
	background-color: #FFF7CC;
	border-radius: 2px;
	margin: 10px;
	padding: 10px;
	color: #777;
}
.warning {
	border: 1px solid #EEA236;
	background-color: #F0AD4E;
	border-radius: 2px;
	margin: 10px;
	padding: 10px;
}
/*
 *
 */
input[type="radio"] {
  display: none;
}
.paser-switch {
  width: 200px;
  height: 30px;
  padding: 5px;
  background-color: #eee;
  font-size: 0;
  border-radius: 5px;
  background: #377bab;
  float: left;
}
label {
  display: inline-block;
  font-size: 16px;
  width: 50%;
  height: 21px;
  color: #fff;
  line-height: 21px;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
}
input[type="radio"]:checked + label {
  background: #ecf0f1;
  color: #222;
}
/*
 *
 */
#public {
	display: none;
}
.public-btn {
  float: right;
  padding: 5px;
  margin-right: 10px;
  display: block;
  border-radius: 5px;
}
.public-btn label {
  height: 21px;
  line-height: 21px;
  cursor: pointer;
  color: #000;
  text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.0);
  -moz-transition:all 1s;
  -webkit-transition:all 1s;
  -o-transition:all 1s;
  -ms-transition:all 1s;
}
/*.public-btn label:hover {*/
  /*color: #eee;*/
  /*text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.0);*/
/*}*/
/*
 *
 */
.clear-btn {
  background: #F0AD4E;
  padding: 5px;
  width: 75px;
  float: right;
  border-radius: 5px;
}
.clear-btn span {
  height: 21px;
  line-height: 21px;
  cursor: pointer;
}
