/***************/
/* all setting */
/***************/
* {
	margin: 0;
	padding: 0;
	font-family: "Ubuntu Mono", sans-serif;
}
*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
body {
	margin: 0;
	color: #fff; 
	background: url('../img/light-noise.png') repeat scroll 0 0 #000;
}
ul {
	list-style-position: inside;
}
li ul {
	margin-left: 1.5em;
}
ol {
	list-style-position: inside;
}
li ol {
	margin-left: 1.5em;
}
.reference {
	color: #3BBC46;
}
img {
	max-width: 600px;
	height: auto;
}
pre {
	line-height: 1.1;
}
/***************/
/* flash alert */
/***************/
.flash-alert {
	position: fixed;
	top: 30px;
	font-size: 1.2em;
	margin: 0 auto;
	margin-bottom: 20px;
	padding: 40px;
	text-align: center;
	opacity: 0.7;
	border: 2px solid;
	margin-left: 100px;
	width: 90%;
	z-index: 9999;
	border-radius: 5px;
}
#important {
    background-color: #DFF0D8;
    border-color: #D6E9C6;
    color: #3C763D;
}
#information {
    background-color: #D9EDF7;
    border-color: #BCE8F1;
    color: #31708F;
}
#warning {
    background-color: #FCF8E3;
    border-color: #FAEBCC;
    color: #8A6D3B;
}
#error {
    background-color: #F2DEDE;
    border-color: #EBCCD1;
    color: #A94442;
}
.close-btn {
	font-size: 2em;
	position: absolute;
	top: 0px;
	left: 10px;
	float: left;
	font-weight: bold;
	line-height: 1;
	opacity: 0.6;
	text-shahow: 0 1px 0 #FFFFFF;
	border: 0 none;
	color: inherit;
	cursor: pointer;
}
/*******************/
/* error / metanav */
/*******************/
.metanav {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 50px;
	text-align: right; 
	font-size: 20px; 
	padding: 5px; 
	background: #000;
	opacity: 0.7;
	z-index: 100;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	line-height: 1.42857;
    -moz-transition:all 0.2s ease;
    -webkit-transition:all 0.2s ease;
    -o-transition:all 0.2s ease;
    -ms-transition:all 0.2s ease;
}
.small-title {
	position: absolute;
	left: 10px;
	color: #87CEEB;
}
.metanav a, span {
	text-decoration: none;
	padding-right: 5px;
}
.hidden {
	display: none;
}
/****************/
/* Modal dialog */
/****************/
#over {
	display: none;
	background: #000;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 0.5;
	z-index: 999;
}
.dialogbtn {
  position: relative;
  border-radius: 25px;
  background: #000;
  width: 50px;
  height: 50px;
  margin: 0 auto;
  overflow: hidden;
  white-space: nowrap;
  transition: all .5s ease;
}
.dialogbtn a {
	position: absolute;
	top: 10px;
	left: 10px;
	text-decoration: none;
	color: #fff;
}
.dialog {
	display: none;
	position: fixed;
	top: 60px;
	right: 0;
	left: 0;
	margin: 0 auto;
	overflow: hidden;
	width: 50%;
	height: 200px;
	z-index: 2000;
	background: #222;
	border-radius: 10px;
	opacity: 0.9;
}
.dialog .closedlg {
	text-decoration: none;
	position: absolute;
	top: 2px;
	right: 4px;
	color: #dd0000;
}
.dialog h1 {
	text-align: center;
	font-size: 2.5em;
	border-bottom: 1px solid;
	padding-bottom: 10px;
	padding-top: 10px;
	color: #87ceeb;
}
/*******************/
/* form input style*/
/*******************/
.menu-btn {
	background: #555;
	font-weight: bold;
	color: #fff;
	border-style: none;
	border-radius: 5px;
    -moz-transition:all 0.5s ease;
    -webkit-transition:all 0.5s ease;
    -o-transition:all 0.5s ease;
    -ms-transition:all 0.5s ease;
}
.menu-btn:hover {
	background: #377BAB;
}
.menu-input {
	border-radius: 3px;
	border-style: none;
	background: #bbb;
    -moz-transition:all 0.5s ease;
    -webkit-transition:all 0.5s ease;
    -o-transition:all 0.5s ease;
    -ms-transition:all 0.5s ease;
}
.menu-input:focus {
	background: #fcfcfc;
	box-shadow: 0px 0px 5px 3px #377BAB;
}
/*****************/
/* GFM table css */
/*****************/
table {
padding: 0; }
table thead tr {
background-color: #666666; }
table tr {
border-top: 1px solid #666666;
background-color: black;
margin: 0;
padding: 0; }
table tr:nth-child(2n) {
background-color: #222222; }
table tr th {
font-weight: bold;
border: 1px solid #666666;
text-align: left;
margin: 0;
padding: 6px 13px; }
table tr td {
border: 1px solid #666666;
text-align: left;
margin: 0;
padding: 6px 13px; }
table tr th :first-child, table tr td :first-child {
margin-top: 0; }
table tr th :last-child, table tr td :last-child {
margin-bottom: 0; } 
/***********/
/* Loading */
/***********/
#loading {
  /*display: none;*/
  position: relative;
  width: 100%;
}
#loading-svg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
}
/***************/
/* Toggle menu */
/***************/
#toggle {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 3px;
  right: 20px;
  margin: 20px auto;
  cursor: pointer;
}
#toggle div,
#toggle div:after,
#toggle div:before {
  width: 40px;
  height: 6px;
  background: #eee;
  transition: all 0.3s;
  border-radius: 3px;
}
#toggle div:after,
#toggle div:before {
  content: "";
  position: absolute;
}
#toggle div:after {
  top: -15px;
  right: 0px;
}
#toggle div:before {
  top: 15px;
  right: 0px;
}
#toggle.on div {
  background-color: transparent;
}
#toggle.on div:before {
  transform: rotate(-45deg) translate(10.5px, -11px);
}
#toggle.on div:after {
  transform: rotate(45deg) translate(11px, 10.5px);
}
#toggle.on + #toggle-menu {
  display: block;
}
#toggle-menu {
  position: absolute;
  top: 70px;
  right: 25px;
  color: #fff;
  width: 300px;
  margin: auto;
  text-align: center;
  border-radius: 5px;
  background: #aaa;
  display: none;
}
#toggle-menu:after {
  position: absolute;
  top: -15px;
  right: 7px;
  content: "";
  display: block;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 20px solid #aaa;
}
#toggle-menu ul, #toggle-menu li {
  list-style: none;
  display: block;
  margin: 0;
  padding: 10px;
}
#toggle-menu li span {
  padding: 5px;
  font-family: "Ubuntu Mono", sans-serif;
}
#toggle-menu li {
  background: #555;
}
#toggle-menu li:hover,
#toggle-menu li:focus {
  background: #87CEEB;
  color: #000;
}
/***************/
/* blockquote  */
/***************/
blockquote {
    padding: 11px 22px;
    margin: 22px 0 22px;
    font-size: 16px;
    border-left: 5px solid #777;
}
