/***************/
/* all setting */
/***************/

* {
	margin: 0;
	padding: 0;
	font-family: "Ubuntu Mono", sans-serif;
}
*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
body {
	margin: 0;
	color: #fff; 
	background: url('../img/light-noise.png') repeat scroll 0 0 #000;
}
ul {
	list-style-position: inside;
}
li ul {
	margin-left: 1.5em;
}
ol {
	list-style-position: inside;
}
li ol {
	margin-left: 1.5em;
}
.reference {
	color: #3BBC46;
}
/* flash alert */
.flash-alert {
	position: relative;
	font-size: 1.2em;
	margin: 0 auto;
	margin-bottom: 20px;
	padding: 40px;
	text-align: center;
	opacity: 0.8;
	border: 2px solid;
	margin-left: 100px;
	width: 90%;
}
#important {
    background-color: #DFF0D8;
    border-color: #D6E9C6;
    color: #3C763D;
}
#information {
    background-color: #D9EDF7;
    border-color: #BCE8F1;
    color: #31708F;
}
#warning {
    background-color: #FCF8E3;
    border-color: #FAEBCC;
    color: #8A6D3B;
}
#error {
    background-color: #F2DEDE;
    border-color: #EBCCD1;
    color: #A94442;
}
.close-btn {
	font-size: 2em;
	position: absolute;
	top: 0px;
	left: 10px;
	float: left;
	font-weight: bold;
	line-height: 1;
	opacity: 0.6;
	text-shahow: 0 1px 0 #FFFFFF;
	border: 0 none;
	color: inherit;
	cursor: pointer;
}
/*******************/
/* error / metanav */
/*******************/
.metanav {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 40px;
	text-align: right; 
	font-size: 20px; 
	padding: 5px; 
	background: #000;
	opacity: 0.6;
	z-index: 100;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	line-height: 1.42857;
}
.small-title {
	position: absolute;
	left: 2%;
	color: #87CEEB;
}
.metanav a {
	text-decoration: none;
}
