section {
	width: 100%;
}
/*********/
/* Title */
/*********/
#particle-slider {
	width: 100%;
	height: 20em;
	background: url('../img/classy_fabric.png') repeat scroll 0 0 #000;
}

#title-img {
	text-align: center;
	/*margin: -0.7em;*/
}
/*********/
/* Login */
/*********/
.login-div {
	width: 400px;
	margin: 0 auto;
}
.box{
  position: relative;
  border-radius:25px;
  background:#000;
  width:50px;
  height:50px;
  margin: 0 auto;
  overflow:hidden;
  white-space: nowrap;
  transition:all .5s ease;
}
.box i {
	position: absolute;
	top: 10px;
	left: 10px;
}
.text{
  width: 300px;
  margin-left: 60px;
  margin-top: 6px;
  margin-bottom: 5px;
  background: #33ff99;
  color: #000;
  border: none;
  outline: transparent;
  padding: 10px;
  border-radius: 5px;
  display: none;
}
.login-method {
  font-size: 200%;
  text-align: center;
  margin: 50px 0;
  color: #555
}
#form-container, #icon {
  display:inline-block;
  vertical-align:top;
}
.showbox {
  background:#aaa;
  color: #555;
  width:100%;
  transition-delay:0s;
  border:1px solid #aaa;
}
.showbox .text {
	display: inline;
}
.showpass {
  height:100px;
}
.message {
	font-size: 120%;
	padding: 40px;
	text-align: center;
}
#author {
	width: 100%;
	text-align: center;
	height: 100px;
	background-color: #555;
}
#author div {
	padding-top: 10px;
}
#author a {
	text-decoration: none;
	width: 20%;
	padding-top: 5px;
}
/**********/
/* Signup */
/**********/
#signupdlg {
	top: 40%;
	height: 250px;
	width: 400px;
}
#signupdlg form {
	text-align: center;
}
#signupdlg div {
	font-size: 150%;
	padding-top: 10px;
}
#signupdlg input[type="text"], #signupdlg input[type="password"] {
	padding: 5px 0;
}
#signupdlg input[type="submit"] {
	margin-top: 20px;
	padding: 10px;
	font-size: 100%;
	border-radius: 10px;
	width: 180px;
}
