{% extends "layout.html" %}


{% block head %}
<script type="text/javascript" src="{{ url_for('static', filename='js/cumulus.js') }}"></script>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/menu_ui.css') }}">
{% endblock %}


{% block body %}


{% if session.user_id %}
<!--Cumulusjs-->
<script type="text/javascript">
	var tags = [];
	{% for tag in tags %}
	tags.push(new Tag("{{ tag['name'] }}", "{{ tag['size'] }}", "{{ tag['url'] }}"));
	{% endfor %}
	var tagCloud = new TagCloud(tags, 510, 510); 
</script>
<!--Side Menu-->
<div class="menu-ui">
	<!--addentry-div-->
	<div class="menu addentry-div">
		<p class="icon fa fa-pencil fa-2x" style='top: 3px; left: 6px;'></p>
		<form onsubmit="return false;" class='addentry-form'>
			<div class="lock-switch">
				<input type="checkbox" id="lock-check"></input>
				<label for="lock-check">
					<div class="lock-label"></div>
				</label>
			</div>
   			<dl>
    		   	<dt>Title:
    		   	<dd><input type="text" name="title" class="menu-input memo-input-title" placeholder="Title">
    		   	<dt>Text:
				<dd><textarea name="text" class="menu-input memo-input-text" placeholder="Text ( Use reStructuredText, but do not use heading! )"></textarea>
				<dt>Tag:
				<dd><input type="text" name="tag" class="menu-input memo-input-tag" placeholder="Tag">
				<dd><input type="button" value="Commit" class="menu-btn commit-button">
	   		</dl>
   		</form>
	</div>
	<!--search-div-->
	<div class="menu search-div">
		<p class="icon fa fa-search fa-2x" style='top: 3px;'></p>
		<form id="search-form" onsubmit="return false;">
			<input type="text", name="title"  placeholder="Title" class='menu-input'></input>
			<input type="text", name="tag" placeholder="Tag" class='menu-input'></input>
			<input type="text", name="date" placeholder="Trem" class='menu-input'></input>
			<input type="button" value="Submit" class="menu-btn submit-button"></input>
		</form>
	</div>
	<!--cumulunimbus-div-->
	<div class="menu cumulunimbus-div">
		<p class="icon fa fa-cloud fa-2x" style='top: 4px; left: 4px;'></p>
		<div id="tagCloud"></div>
		<script type="text/javascript">
			tagCloud.Distribute(document.getElementById("tagCloud")).Animate(); 
		</script>
	</div>
</div>


<!--Entry-->
<div class="entries">
	<dl class="memo"></dl>
	<!--<em style="font-size:30px;">No memos here, Let's hover left pen-icon!</em>-->
</div>
{% endif %}


{% endblock %}
