<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>MemoMemo</title>
	<link href='http://fonts.googleapis.com/css?family=Inconsolata' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Ubuntu+Mono' rel='stylesheet' type='text/css'>
	<link rel="shortcut icon" href="{{ url_for('static', filename='ico/favicon.ico') }}">
	<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-2.1.1.min.js') }}"></script>
	<link rel='stylesheet' href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
	<link rel='stylesheet' href="{{ url_for('static', filename='css/pygments.css') }}">
	<link rel='stylesheet' href="{{ url_for('static', filename='css/layout.css') }}">
	{% block head %}
	{% endblock %}
</head>
<body>
	<header class='metanav'>
		<span class="small-title">MemoMemo</span>
		{% block metanav%}
		{% endblock %}
	</header>
	{% block body %}
	{% endblock %}
</body>
</html>
