<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>MemoMemo</title>
	<link href='http://fonts.googleapis.com/css?family=Inconsolata' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Ubuntu+Mono' rel='stylesheet' type='text/css'>
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/pygments.css') }}">
	<link rel="shortcut icon" href="{{ url_for('static', filename='ico/favicon.ico') }}">
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/cumulus.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/script_head.js') }}"></script>
	{% block head %}
	{% endblock %}
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
	<!--Login Info-->
	<div class="space"></div>
	<div class=metanav>
		<span class="small-title">MemoMemo</span>
	{% if not session.logged_in %}
	 	<a href="{{ url_for('login') }}">log in</a>
	{% else %}
	 	<a href="{{ url_for('logout') }}">log out</a>
		<span class="click-here">Click here! Toggle title!</span>
	{% endif %}
	</div>
	<!--Title-->
	<div class="title">
		<div id="particle-slider">
			<div class="slides">
				<div id="first-slide" class="slide" data-src="{{ url_for('static', filename='img/logo.png') }}?inline"></div>
			</div>
			<canvas class="draw" style="display: none;"></canvas>
			<div id="title-img">
				<img src="{{ url_for('static', filename='img/logo3.png') }}">
			</div>
		</div>
		<div id="toggle-title">
			<div class="toggle">
			  <input type="checkbox" class="particle-switch" />
			  <span class="btn"></span>
			  <span class="labels"></span>
			  <span class="bg"></span>
			</div>
		</div>
	</div>
	{% block body %}
	{% endblock %}
	<script type="text/javascript" src="{{ url_for('static', filename='js/script_body.js') }}"></script>
</body>

</html>

