{% extends "layout.html" %}


{% block head %}
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/login.css') }}">
{% endblock %}


{% block body %}
	<article>
		<section>
			<div class="title">
				<div id="particle-slider">
					<div class="slides">
						<div id="first-slide" class="slide" data-src="{{ url_for('static', filename='img/logo.png') }}?inline"></div>
					</div>
					<canvas class='draw'></canvas>
				</div>
			</div>
		</section>
		<section id='login-section'>
			<div style="height: 100px;"></div>
		    <div class="login-div">
		        <h1 class="login-method">Login</h1>
		        <div id="login">
		            <div id="loginbox" class="box">
		        		<i id="icon" class="fa fa-lock fa-2x" style='left: 14px;'></i>
		                <form id="form-container" action="{{ url_for('login') }}" method=post>
		                    <input name='username' class="text" id="logintext" type="text" placeholder="Name" size="33"></input>
		                    <br />
		                    <input name='password' class="text" id="loginpass" type="password" placeholder="Password" size="33"></input>
							<input type='submit' style='visibility:hidden;'></input>
		                </form>
		            </div>
		        </div>
		    </div>
			<div style="height: 100px;"></div>
		    <div class="login-div">
		        <h1 class="login-method">Sign up</h1>
				<div id="login">
					<div class="dialogbtn">
						<a class="fa fa-plus fa-2x showdlg" style='left: 12px;' href="#signupdlg"></a>
					</div>
					<div id="signupdlg" class="dialog">
						<a href="#signupdlg" class="fa fa-times fa-3x closedlg"></a>
						<h1>Signup</h1>
						<form action="{{ url_for('signup') }}" method=post>
							<div>User</div>
							<input name='username' type="text" placeholder="Name" size="33" class="menu-input"></input></br>
							<div>Password</div>
							<input name='password' type="password" placeholder="Password" size="33" class="menu-input"></input></br>
							<input type='submit' value="Submit" class="menu-btn"></input>
						</form>
					</div>
				</div>
		    </div>
			<div style="height: 100px;"></div>
		</section>
		<div style="height: 100px;"></div>
	<article>
	<footer>
		<div id='author'>
			<div>Author: yuya yano (@yymm) &copy; 2014<div>
			<a class='fa fa-twitter fa-3x' href='https://twitter.com/yymm6666/' style='color: #55acee;'></a>
			<a class='fa fa-facebook fa-3x' href='https://www.facebook.com/profile.php?id=100004267713034' style='color: #8b9dc3;'></a>
			<a class='fa fa-github fa-3x' href='https://github.com/yymm/MemoMemo' style='color: #eee;'></a>
		</div>
	</footer>
    <script src="{{ url_for('static', filename='js/login.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/particleslider.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/partislide_title.js') }}"></script>
{% endblock %}
