{% extends "layout.html" %}

{% block head %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.2.0/react-with-addons.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.2.0/react-dom.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.34/browser.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/superagent/2.1.0/superagent.min.js"></script>
<script src="https://npmcdn.com/classnames/index.js"></script>
<script src="https://npmcdn.com/react-input-autosize/dist/react-input-autosize.js"></script>
<script src="https://npmcdn.com/react-select/dist/react-select.js"></script>
<link rel="stylesheet" href="https://npmcdn.com/react-select/dist/react-select.css">
<link rel="stylesheet" href="{{ url_for('static', filename='memo/css/main.css') }}">
{% endblock %}

{% block body %}
<div id="content"></div>
<script type="text/babel" src="{{ url_for('static', filename='memo/js/main.js') }}"></script>
{% endblock %}
