{% extends "layout.html" %}


{% block head %}
<script type="text/javascript" src="{{ url_for('static', filename='js/cumulus.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/marked.min.js') }}"></script>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/index.css') }}">
<script type="text/javascript" src="{{ url_for('static', filename='js/socket.io.min.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/solarized_dark.css') }}">
<script src="{{ url_for('static', filename='js/highlight.pack.js') }}"></script>
{% endblock %}

{% block body %}

<script type="text/javascript" src="{{ url_for('static', filename='js/public.js') }}"></script>

<!--Cumulusjs-->
<script type="text/javascript">
	var tags = [];
	{% for tag in tags %}
	tags.push(new Tag("{{ tag['name'] }}", "{{ tag['size'] }}", "", {color: "{{ tag['color'] }}"}));
	{% endfor %}
	var tagCloud = new TagCloud(tags, 600, 600); 
</script>
<!--Side Menu-->
<div class="menu-ui">
	<!--search-div-->
	<div class="menu search-div dialogbtn">
		<a class="icon fa fa-search fa-2x showdlg" style='top: 3px; left: 5px;' href="#searchdlg"></a>
	</div>
	<!--cumulunimbus-div-->
	<div class="menu cumulunimbus-div dialogbtn">
		<a class="icon fa fa-cloud fa-2x showdlg" style='top: 4px; left: 3px;' href="#cumulusdlg"></a>
	</div>
	<!--tagcloud-div-->
	<div class="menu tagcloud-div dialogbtn">
		<a class="icon fa fa-tags fa-2x showdlg" style='top: 5px; left: 4px;' href="#tagdlg"></a>
	</div>
</div>

<!--Dialog-->
<div id="searchdlg" class="dialog">
	<a href="#searchdlg" class="fa fa-times fa-3x closedlg"></a>
	<h1>Search</h1>
	<form id="search-form" onsubmit="return false;">
		<input type="text", name="title"  placeholder="Title" class='menu-input'></input>
		<input type="text", name="text"  placeholder="Text" class='menu-input'></input>
		<input type="text", name="tag" placeholder="Tag" class='menu-input'></input>
		<input type="button" value="Submit" class="menu-btn submit-button"></input>
	</form>
</div>
<div id="cumulusdlg" class="dialog">
	<a href="#cumulusdlg" class="fa fa-times fa-3x closedlg"></a>
	<h1>Cumulus</h1>
	<div id="tagCloud"></div>
	<script type="text/javascript">
		tagCloud.Distribute(document.getElementById("tagCloud")).Animate(); 
	</script>
</div>
<div id="tagdlg" class="dialog">
	<a href="#tagdlg" class="fa fa-times fa-3x closedlg"></a>
	<h1>TagCloud</h1>
	<div id="tag-container">
		{% for tag in tags %}
		<span class='tag' style='border: 2px solid {{ tag['color'] }};'><i>{{ tag['name'] }}</i>:{{ tag['num'] }}</span>
		{% endfor %}
	</div>
</div>

<div style='width: 100%; height: 50px;'></div>
<div id="container"></div>
<div style='width: 100%; height: 50px;'></div>

{% endblock %}
